{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block page %}
    {#    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700" rel="stylesheet">#}
    {#    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">#}
    {#    <link rel="stylesheet" href="https://cdn.rawgit.com/enyo/dropzone/master/dist/dropzone.css">#}


    {#<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">#}
    <link rel="stylesheet" href="{% static 'mysite/css/file.css' %}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"/>
        <link rel="stylesheet" type="text/css" href="{% static 'mysite/css/app.min.css' %}"/>

        <link rel="stylesheet" type="text/css" href="{% static 'mysite/css/bootstrap.css' %}"/>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>



    <!-- jp Tittle Wrapper Start -->
    <div style="background-image:
    url('https://images.pexels.com/photos/1768060/pexels-photo-1768060.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');"
         class="jp_tittle_main_wrapper">
        <div style="background: #393b41d4;" class="jp_tittle_img_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="jp_tittle_heading_wrapper">
                        <div class="jp_tittle_heading">
                            <h2>Add-Posting</h2>
                        </div>
                        <div class="jp_tittle_breadcrumb_main_wrapper">
                            <div class="jp_tittle_breadcrumb_wrapper">
                                <ul>
                                    <li><a href="#">Home</a> <i class="fa fa-angle-right"></i></li>
                                    <li>Add-Posting</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jp Tittle Wrapper End -->
    <!-- jp ad post Wrapper Start -->
    <div class="jp_adp_main_section_wrapper">
        <div class="container">
            <div class="row">
                <form method="POST" enctype="multipart/form-data">


                    {% csrf_token %}
                    {% for field in form %}

                        {% if field.label == 'Image' %}
                            <div class="col-lg-6 col-md-6 col-md-6 col-xs-12">

                                <!-- <div style="top: 26px;" class="custom-file">
                                    {% render_field field placeholder=field.label class="custom-file-input" id="customFile" %}

                                    {#                                    <input type="file" class="custom-file-input" id="customFile">#}
                                    <label style=" border:none;   background: #1a1e27;" class="custom-file-label"
                                           for="customFile">Choose file</label>
                                </div> -->
                                <div style="margin-top: 25px;" class="file-upload">
                                    <div style="background: #1a1e27;
                                    border: none;" class="file-select">
                                        <div style="background: #1a1e27;
                                        border: none;" class="file-select-button" id="fileName">Choose File
                                        </div>
                                        <div class="file-select-name" id="noFile">No file chosen...</div>
                                        <input type="file" name="chooseFile" id="chooseFile">
                                    </div>
                                </div>
                            </div>

                        {% elif field.label == 'Skills' %}
                            <div class="col-lg-6 col-md-6 col-md-6 col-xs-12">
                                <div style="padding-top: 0px;
    margin-top: 27px;" class="jp_adp_textarea_main_wrapper">

                                    <select name="skill" style="border: none;
    background: red;" class="selectpicker form-control" multiple data-live-search="true">

                                        {% for skill in skills %}
                                            <option value="{{ skill.id }}">{{ skill.name }}</option>

                                        {% endfor %}
                                        {#                                        <option>Ketchup</option>#}
                                        {#                                        <option>Relish</option>#}
                                    </select>
                                </div>
                            </div>

                        {% elif field.label == 'Skill' %}
                            <div class="col-lg-6 col-md-6 col-md-6 col-xs-12">
                                <div style="padding-top: 0px;
    margin-top: 27px;" class="jp_adp_textarea_main_wrapper">

                                    <select name="skill" style="border: none;
    background: red;" class="selectpicker form-control" multiple data-live-search="true">

                                        {% for skill in skills %}
                                            <option value="{{ skill.id }}">{{ skill.name }}</option>

                                        {% endfor %}
                                        {#                                        <option>Ketchup</option>#}
                                        {#                                        <option>Relish</option>#}
                                    </select>
                                </div>
                            </div>

                        {% elif field.label == 'Image post' %}

                            <div style="    margin-top: 23px;" class="col-lg-6 col-md-6 col-md-6 col-xs-12">

                                <div class="file-upload">
                                    <div class="file-select">
                                        <div class="file-select-button" id="fileName">Choose File</div>
                                        <div class="file-select-name" id="noFile">No file chosen...</div>
                                        <input type="file" name="imagee" id="chooseFile">
                                    </div>
                                </div>
                            </div>
                            {% elif field.label == 'Image' %}

                            <div style="    margin-top: 23px;" class="col-lg-6 col-md-6 col-md-6 col-xs-12">

                                <div class="file-upload">
                                    <div class="file-select">
                                        <div class="file-select-button" id="fileName">Choose File</div>
                                        <div class="file-select-name" id="noFile">No file chosen...</div>
                                        <input type="file" name="imagee" id="chooseFile">
                                    </div>
                                </div>
                            </div>

                        {% elif field.label == 'Description' %}

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="jp_adp_textarea_main_wrapper">
                                    {% render_field field placeholder=field.label rows='7' %}
                                    {#                						<textarea rows="7" placeholder="Job Description"></textarea>#}
                                </div>
                            </div>
                        {% elif field.label == 'Job description' %}
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="jp_adp_textarea_main_wrapper">
                                    {% render_field field placeholder=field.label rows='7' %}
                                    {#                						<textarea rows="7" placeholder="Job Description"></textarea>#}
                                </div>
                            </div>

                        {% elif field.label == 'Country' %}
                            <div class="col-lg-6 col-md-6 col-md-6 col-xs-12">
                                <div class="jp_adp_form_wrapper">
                                    {% render_field field placeholder=field.label id='country' %}

                                </div>
                            </div>
                        {% elif field.label == 'City post' %}
                            <div class="col-lg-6 col-md-6 col-md-6 col-xs-12">
                                <div class="jp_adp_form_wrapper">
                                    <select name="city" id="city">
                                        <option value="">Choose City</option>

                                    </select>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-lg-6 col-md-6 col-md-6 col-xs-12">
                                <div class="jp_adp_form_wrapper">
                                    {% render_field field placeholder=field.label %}

                                </div>
                            </div>
                        {% endif %}
                        {% if field.errors %}
                            {{ field.errors }}
                        {% endif %}
                    {% endfor %}

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="jp_adp_choose_resume_bottom_btn_post">
                            <ul>
                                <li>
                                    <button type="submit"><i class="fa fa-plus-circle"></i>&nbsp; Post a job</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>


            </div>
        </div>

    </div>
    <!-- jp ad post Wrapper End -->
    {#        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"#}
    {#                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"#}
    {#                crossorigin="anonymous"></script>#}
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"#}
    {#            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"#}
    {#            crossorigin="anonymous"></script>#}
    {#    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"#}
    {#            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"#}
    {#            crossorigin="anonymous"></script>#}
    {#    <script src="https://cdn.rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>#}
{% endblock %}

{% block js %}
    <script>
        $('#chooseFile').bind('change', function () {
            var filename = $("#chooseFile").val();
            if (/^\s*$/.test(filename)) {
                $(".file-upload").removeClass('active');
                $("#noFile").text("No file chosen...");
            } else {
                $(".file-upload").addClass('active');
                $("#noFile").text(filename.replace("C:\\fakepath\\", ""));
            }
        });
    </script>
    <script>
        function city() {
            var num = $('#country').val()
            console.log(num)
            var country = $(`[value=${num}]`).text()
            console.log(country)
            $.ajax({
                method: "POST",
                data: {
                    country: num,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function (data) {
                    console.log(data)
                    console.log(data.data.length)
                    $('#city').html('<option>Choose city</option>')
                    for (var i = 0; i < data.data.length; i++) {
                        console.log(i);

                        $('#city').append(`<option value=${data.data[i].id}>${data.data[i].name}</option>`)

                    }

                },

                error: function (xhr, err, msg) {
                    console.log(xhr, err, msg);
                }
            });
        }

        document.getElementsByTagName('select')[0].firstElementChild.innerText = 'Category'
        document.getElementsByTagName('select')[1].firstElementChild.innerText = 'SubCategory'
        document.getElementsByTagName('select')[2].firstElementChild.innerText = 'Type'
        document.getElementsByTagName('select')[3].firstElementChild.innerText = 'Country'
        {#document.getElementsByTagName('select')[4].firstElementChild.innerText = 'City'#}
$('#country').on('change', function () {
                console.log('sdfg')
                city()
            });
        $(document).ready(function () {


            $('select').selectpicker();

            $(function () {
                $("#my-dropzone").dropzone({
                    //url: "/file/post", // If not using a form element
                });

            });
            $('#customFile').on('change', function () {
                //get the file name
                var fileName = $(this).val();
                //replace the "Choose a file" label
                $(this).next('.custom-file-label').html(fileName);
            });





        });


    </script>
{% endblock %}


{% block css %}
    <style>
        /* Just add this CSS to your project */
        body, html {
            font-family: 'Lato', sans-serif;
            font-size: 16px;
            line-height: 23px;
            color: #6f7e98;
            background: #13171e;
            overflow-x: hidden;
        }

        .dropzone {
            border: 2px dashed #dedede;
            border-radius: 5px;
            background: #f5f5f5;
        }

        .custom-file-input:lang(en) ~ .custom-file-label::after {
            content: "Browse";
            background: #1a1e27;
            color: white;
        }


        .dropzone i {
            font-size: 5rem;
        }

        .dropzone .dz-message {
            color: rgba(0, 0, 0, .54);
            font-weight: 500;
            font-size: initial;
            text-transform: uppercase;
        }

        .filter-option {
            background: #1a1e27;
        }

        .dropdown-toggle.bs-placeholder {
            border: #1a1e27;
        }

        .file-select {
            background: #1a1e27;
            border: none;
        }

    </style>

{% endblock %}