
    {% for field in jobs %}
        <div style="height: 314px;" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="jp_job_post_main_wrapper_cont jp_job_post_grid_main_wrapper_cont">
                <div class="jp_job_post_main_wrapper jp_job_post_grid_main_wrapper">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="jp_job_post_side_img">
                                <img style="width: 100%;" src="{{ field.image }}"
                                     alt="post_img"/>
                            </div>
                            <div class="jp_job_post_right_cont jp_job_post_grid_right_cont">
                                <h4>
                                    <a href="{% url 'onepost' field.job_title %}">{{ field.job_title }}</a>
                                </h4>
                                <p>Webstrot Technology Pvt. Ltd.</p>
                                <ul>
                                    <li>
                                        <i class="fa fa-cc-paypal"></i>&nbsp; {{ field.min_salary }}
                                        -
                                        {{ field.max_salary }}
                                    </li>
                                    <li><i class="fa fa-map-marker"></i>&nbsp;
                                        {{ field.country }}, {{ field.city }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="jp_job_post_right_btn_wrapper jp_job_post_grid_right_btn_wrapper">
                                <ul>
                                    <li><a data_id="{{ field.id }}" id="like"
                                           class="none"><i
                                            class="fa fa-heart-o"></i></a></li>
                                    <li><a href="#">Part Time</a></li>
                                    <li>
                                        {% if field in applies %}
                                            <button style="border: none; background-color: #50c0ea;"
                                                    class="apply"
                                                    id="{{ field.id }}">Applied
                                            </button>
                                        {% else %}
                                            <button style="border: none;"
                                                    class="apply"
                                                    id="{{ field.id }}">Apply
                                            </button>
                                        {% endif %}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="jp_job_post_keyword_wrapper">
                    <ul>
                        <li><i class="fa fa-tags"></i>Keywords :</li>
                        <li><a href="#">ui designer,</a></li>
                        <li><a href="#">developer,</a></li>
                    </ul>
                </div>
            </div>
        </div>

    {% endfor %}


    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-sm hidden-xs">
        <div class="pager_wrapper gc_blog_pagination">
            <ul class="pagination">
                {% if jobs.has_previous %}
                    <li><a class="page" >Priv.</a></li>
                {% endif %}

                {% for page in page_range %}
                    {% if page == jobs.number %}
                        <li><a class="page" style="background-color: #50c0ea;">{{ page }}</a></li>


                    {% else %}
                        <li><a class="page" >{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if jobs.has_next %}
                    <li><a class="page" >Next</a></li>


                {% endif %}
            </ul>
        </div>
    </div>

<script>
    $(document).ready(function () {


        $('.page').click(function () {
            var page = $(this).text();
            console.log(page)
            var base = location.href
            base = `?page=${page}`
            console.log(base)
            {#console.log(base)#}
            {#location.href = base#}
        });
    });
</script>
